body {
  box-sizing: border-box;
  margin: 5% auto 40%;
  background: linear-gradient(to bottom, #072344 5%, #7ba4c3 80%);
  text-align: center;
  font-size: 20px;
}

a {
  color: white;
}

li {
  list-style: none;
  margin: 0;
  padding: 0 20px;
}

ul {
  margin-top: 15px;
}

.App {
  font-family: sans-serif;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  padding: 10px 50px;
  margin: 0px auto;
  width: 900px;
  border-radius: 3px;
  box-shadow: 1px 1px 5px 1px grey;
  color: white;
}

.card {
  background-color: #517592;
  margin: 0px auto;
  padding: 0px auto;
  border-color: white;
  box-shadow: 1px 1px 5px 1px white;
  width: 110px;
}

.center {
  text-align: center;
}

.currentPlace {
  text-align: left;
  margin: 10px 25px 10px 20px;
  padding: 2px 20px;
  border: 2px solid white;
  border-radius: 35px;
  background-color: #517592;
  color: white;
  font-size: 25px;
  font-family: "Raleway", sans-serif;
}

.footer {
  color: white;
}

.forecast-icon {
  width: 70px;
}

.left-align {
  text-align: left;
}
.note {
  font-size: 13px;
}

.searchLine {
  width: 80%;
}

.searchLine,
.searchButton {
  background-color: #517592;
  color: white;
  border: 2px solid white;
  margin: 0px 2px;
}

.weather-icon {
  width: 120px;
}

::placeholder {
  color: white;
}

:-ms-input-placeholder {
  color: white;
}

:::-ms-input-placeholder {
  color: white;
}
